/*---------------------------------------------*/
/*------------  Banner Colors ------------------*/
/*-- Adjusts banners by content type shown ----*/
/*---------------------------------------------*/

/*--- Default Color for Banner *---------*/
.titlearea,
.carousel-control,
.breadcrumb .icon,
.bx-controls-direction a,
.nav-justified>li.active a,
.nav-justified>li.active a:hover,
.nav-justified>li.active a:focus{ background:#5293ae !important;}
.nav-justified>li.active:before,,
.view-section ul.fancytree-container .glyphicon,
.view-section ul.fancytree-container .fancytree-node:hover > .glyphicon,
.view-section .fancytree-node.fancytree-active > .glyphicon,
.view-section .fancytree-node.fancytree-selected > .glyphicon,
.carousel-feature-slides li.active div a:before{ color:#5293ae;color:rgba(82, 147, 174, 0.83);}
.carousel-feature-slides li div a:hover,
.carousel-feature-slides li div a:focus,
.carousel-feature-slides li.active div a,
.page-places .content-resources .nav-pills li.active,
#tab-main .each-photo a.thumbnail:hover,
#tab-main .each-text a.thumbnail:hover{ border-color: #5293ae; border-color:rgba(82, 147, 174, 0.83);}
.content-resources .nav-pills li.active{ border-left:10px solid #5293ae; border-left:10px solid rgba(82, 147, 174, 0.83);}
/* darker shades below */
.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a .check-mark,
.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a:focus .check-mark,
.input-section .toggle-link,
.input-section .toggle-link:hover,
.input-section .toggle-link .icon::before,
.input-section .toggle-link:hover .icon::before,
.input-section .selectpicker .caret:before,
.input-section .toggle-link.advanced-link,
.input-section .input-group .btn.btn-default:hover,
.input-section .feature-group .toggle-link.show-features .icon::before, 
.input-section .toggle-link.show-advanced .icon::before,
.view-section .nav-tabs>li.active>a, 
.view-section .nav-tabs>li.active>a:hover, 
.view-section .nav-tabs>li.active>a:focus{ color: #5293ae;color:rgba(82, 147, 174, 0.83);}
.view-section .nav-tabs>li.active>a, 
.view-section .nav-tabs>li.active>a:hover, 
.view-section .nav-tabs>li.active>a:focus{ border-top-color: #5293ae;border-top-color: rgba(82, 147, 174, 0.83);}
/*------- End of Default Color -------------*/

/* Colors Places */
.page-places .titlearea,
.page-places .carousel-control,
.page-places .breadcrumb .icon,
.page-places .bx-controls-direction a,
.page-places .nav-justified>li.active a,
.page-places .nav-justified>li.active a:hover,
.page-places .nav-justified>li.active a:focus{ background:#4CA6FB !important;}
.page-places .nav-justified>li.active:before,
.page-places .input-section .feature-group .toggle-link.show-features .icon::before, 
.page-places .input-section .toggle-link.show-advanced .icon::before,
.page-places .input-section .toggle-link.advanced-link,
.page-places .input-section .selectpicker .caret::before,
.page-places .main-content .selectpicker .caret::before,
.page-places .view-section ul.fancytree-container .glyphicon,
.page-places .view-section ul.fancytree-container .fancytree-node:hover > .glyphicon,
.page-places .view-section .fancytree-node.fancytree-active > .glyphicon,
.page-places .view-section .fancytree-node.fancytree-selected > .glyphicon,
.page-places .carousel-feature-slides li.active div a:before{ color:#4CA6FB;color:rgba(63, 137, 206, 0.83);}
.page-places .carousel-feature-slides li div a:hover,
.page-places .carousel-feature-slides li div a:focus,
.page-places .carousel-feature-slides li.active div a,
.page-places #tab-main .each-photo a.thumbnail:hover,
.page-places #tab-main .each-text a.thumbnail:hover,
.page-places .content-resources .nav-pills li.active{ border-color: #4CA6FB; border-color:rgba(63, 137, 206, 0.83);}
/* .page-places .content-resources .nav-pills li.active{ border-left:10px solid #4CA6FB; border-left:10px solid rgba(63, 137, 206, 0.83);} */

/*------- End of Places Colors ---------------*/


/* Colors Subjects */
.page-subjects .titlearea,
.page-subjects .carousel-control,
.page-subjects .breadcrumb .icon,
.page-subjects .bx-controls-direction a,
.page-subjects .nav-justified>li.active a,
.page-subjects .nav-justified>li.active a:hover,
.page-subjects .nav-justified>li.active a:focus{ background:#dc3c47 !important;}
.page-subjects .nav-justified>li.active:before,
.page-subjects .view-section ul.fancytree-container .glyphicon,
.page-subjects .view-section ul.fancytree-container .fancytree-node:hover > .glyphicon,
.page-subjects .view-section .fancytree-node.fancytree-active > .glyphicon,
.page-subjects .view-section .fancytree-node.fancytree-selected > .glyphicon,
.page-subjects .carousel-feature-slides li.active div a:before,
.page-subjects .main-content .selectpicker .caret::before{ color:#dc3c47;color:rgba(220, 60, 71, 0.83);}
.page-subjects .carousel-feature-slides li div a:hover,
.page-subjects .carousel-feature-slides li div a:focus,
.page-subjects .carousel-feature-slides li.active div a,
.page-subjects #tab-main .each-photo a.thumbnail:hover,
.page-subjects #tab-main .each-text a.thumbnail:hover,
.page-subjects .content-resources .nav-pills li.active{ border-color: #dc3c47; border-color:rgba(220, 60, 71, 0.83);}
/* .page-subjects .content-resources .nav-pills li.active{border-left:10px solid #dc3c47;} */

.page-subjects .input-section a.toggle-link,
.page-subjects .input-section a.toggle-link:hover,
.page-subjects .input-section .toggle-link .icon::before,
.page-subjects .input-section .feature-group .toggle-link.show-features .icon::before, 
.page-subjects .input-section .toggle-link.show-advanced .icon::before,
.page-subjects .input-section .toggle-link:hover .icon::before,
.page-subjects .input-section .selectpicker .caret::before,
.page-subjects .main-content .selectpicker .caret::before,
.page-subjects .bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a .check-mark,
.page-subjects .bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a:focus .check-mark,
.page-subjects .input-section .input-group .btn.btn-default:hover,
.page-subjects .input-section .toggle-link.advanced-link,
.page-subjects .view-section .nav-tabs>li.active>a, 
.page-subjects .view-section .nav-tabs>li.active>a:hover, 
.page-subjects .view-section .nav-tabs>li.active>a:focus{ color: #dc3c47;color:rgba(220, 60, 71, 0.83);}
.page-subjects .content-resources .nav-pills li.active{ border-color: #dc3c47; border-color: rgba(220, 60, 71, 0.83);}
.page-subjects .view-section .nav-tabs>li.active>a, 
.page-subjects .view-section .nav-tabs>li.active>a:hover, 
.page-subjects .view-section .nav-tabs>li.active>a:focus{ border-top-color: #dc3c47; border-top-color: rgba(220, 60, 71, 0.83);}
/*-------- End of Subjects colors ----------------*/

/* Audio-Video Colors */
.audio-video .titlearea,
.audio-video .carousel-control,
.audio-video .breadcrumb .icon,
.audio-video .nav-justified>li.active a,
.audio-video .nav-justified>li.active a:hover,
.audio-video .nav-justified>li.active a:active{ background-color:#32ccca !important;}
.audio-video .nav-justified>li.active::before{ color:#32ccca !important;}
/* darker shades below are used to better define details */
.audio-video .bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a .check-mark,
.audio-video .bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a:active .check-mark,
.audio-video .feature-group .toggle-link.show-features .icon::before, 
.audio-video .toggle-link.show-advanced .icon::before,
.audio-video .input-section .selectpicker .caret::before,
.audio-video .main-content .selectpicker .caret::before,
.audio-video .input-section .input-group .btn.btn-default:hover,
.audio-video .input-section .input-group .btn.btn-default:active,
.audio-video .input-section .toggle-link.advanced-link,
.audio-video .view-section .nav-tabs>li.active>a, 
.audio-video .view-section .nav-tabs>li.active>a:hover, 
.audio-video .view-section .nav-tabs>li.active>a:active,
.audio-video .view-section .fancytree-container .glyphicon,
.audio-video .view-section .fancytree-container .fancytree-node:hover > .glyphicon,
.audio-video .view-section .fancytree-container .fancytree-node:active > .glyphicon,
.audio-video .view-section .fancytree-node.fancytree-active > .glyphicon,
.audio-video .view-section .fancytree-node.fancytree-selected > .glyphicon{ color:rgb(40, 161, 160) !important;  /* color: rgba(32, 132, 131, 0.86);*/ }
.audio-video .content-resources .nav-pills li.active{ border-color: rgb(40, 161, 160) !important;}
.audio-video .view-section .nav-tabs>li.active>a, 
.audio-video .view-section .nav-tabs>li.active>a:hover, 
.audio-video .view-section .nav-tabs>li.active>a:active{ border-top-color: rgb(40, 161, 160) !important;}
/*--- END Audio Video colors ---*/

/*--- Text Colors -----*/
/* custom theme colors */
.texts .titlearea { background: #764B8D !important; } 
.texts .basebg { background-color: #764B8D !important; } 
.texts .basecolor { color: #764B8D !important; }   
.texts ul.ss-full-tabs>li.active>a:after,
.texts .content-resources .nav-pills li.active{ border-color: #764B8D; border-top-color: #764B8D !important; } 
.texts .breadwrap ol li .icon{ background:#764B8D !important; }
.texts .ss-full-tabs.nav-tabs>li.active,
.texts .ss-full-tabs.nav-tabs>li.active:hover{ background:#764B8D !important; }
.texts .shanticon-twitter,.shanticon-facebook,.shanticon-email,.shanticon-google,
.texts .feature-group .toggle-link.show-features .icon::before, 
.texts .toggle-link.show-advanced .icon::before,
.texts .input-section .selectpicker .caret::before,
.texts .main-content .selectpicker .caret::before{ color:#764B8D !important; }


/* Images Colors */
/* BEGIN custom theme colors */
.images .titlearea,
.images .carousel-control,
.images .breadcrumb .icon,
.images .nav-justified>li.active a,
.images .nav-justified>li.active a:hover,
.images .nav-justified>li.active a:active{ background-color:#aea833 !important;}
.images .nav-justified>li.active::before,
.images .bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a .check-mark,
.images .bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a:active .check-mark,
.images .input-section .selectpicker .caret::before,
.images .main-content .selectpicker .caret::before,
.images .input-section .input-group .btn.btn-default:hover,
.images .input-section .input-group .btn.btn-default:active,
.images .feature-group .toggle-link.show-features .icon::before, 
.images .toggle-link.show-advanced .icon::before,
.images .view-section .nav-tabs>li.active>a, 
.images .view-section .nav-tabs>li.active>a:hover, 
.images .view-section .nav-tabs>li.active>a:active,
.images .view-section .fancytree-container .glyphicon,
.images .view-section .fancytree-container .fancytree-node:hover > .glyphicon,
.images .view-section .fancytree-container .fancytree-node:active > .glyphicon,
.images .view-section .fancytree-node.fancytree-active > .glyphicon,
.images .view-section .fancytree-node.fancytree-selected > .glyphicon{ color:#aea833 !important; }
.images .content-resources .nav-pills li.active{ border-color: #aea833 !important;}
.images .view-section .nav-tabs>li.active>a, 
.images .view-section .nav-tabs>li.active>a:hover, 
.images .view-section .nav-tabs>li.active>a:active{ border-top-color:#aea833 !important;}
/*--- END Audio Video colors ---*/
