/**
* Mandala Bhutan - Development
* 
* version 1.x - bhutan-colors.css
* --------------------------------------------------
* University of Virginia / SHANTI MANDALA / BHUTAN
* --------------------------------------------------
* 
*/

/* BEGIN custom colors */
/**
* Custom Colors - Places 
*/
.page-places .titlearea,
.page-places .carousel-control,
.page-places .breadcrumb .icon,
.page-places .bx-controls-direction a,
.page-places .nav-justified>li.active a,
.page-places .nav-justified>li.active a:focus,
.page-places .nav-justified>li.active a:hover{ background:#4ca6fb !important;}
.page-places .nav-justified>li.active::before,
.page-places .view-section ul.fancytree-container .glyphicon,
.page-places .view-section ul.fancytree-container .fancytree-node:hover > .glyphicon,
.page-places .view-section .fancytree-node.fancytree-active > .glyphicon,
.page-places .view-section .fancytree-node.fancytree-selected > .glyphicon,
.page-places .carousel-feature-slides li.active div a::before{ color:#4ca6fb !important;}
.page-places .carousel-feature-slides li div a:hover,
.page-places .carousel-feature-slides li div a:active,
.page-places .carousel-feature-slides li.active div a,
.page-places #tab-main .each-photo a.thumbnail:hover,
.page-places #tab-main .each-text a.thumbnail:hover{ border-color: #4ca6fb !important;}
.page-places .content-resources .nav-pills li.active{ border-left:10px solid #4ca6fb !important;}

.page-places .input-section .toggle-link,
.page-places .input-section .toggle-link:hover,
.page-places .input-section .toggle-link .icon:::before,
.page-places .input-section .toggle-link:hover .icon::before,
.page-places .bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a .check-mark,
.page-places .bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a:active .check-mark,
.page-places .view-section .nav-tabs>li.active>a, 
.page-places .view-section .nav-tabs>li.active>a:hover, 
.page-places .view-section .nav-tabs>li.active>a:active{ color: #3f89ce !important;}
.page-places .view-section .nav-tabs>li.active>a, 
.page-places .view-section .nav-tabs>li.active>a:hover, 
.page-places .view-section .nav-tabs>li.active>a:active{ border-top-color: #3f89ce !important;}
/* END Places Colors */

/**
* Custom Colors - Subjects 
*/
.page-subjects .titlearea,
.page-subjects .carousel-control,
.page-subjects .breadcrumb .icon,
.page-subjects .bx-controls-direction a,
.page-subjects .nav-justified>li.active a,
.page-subjects .nav-justified>li.active a:focus,
.page-subjects .nav-justified>li.active a:hover{ background:#dc3c47 !important;}
.page-subjects .nav-justified>li.active::before{ color:#dc3c47 !important;}
.page-subjects .view-section ul.fancytree-container .glyphicon,
.page-subjects .view-section ul.fancytree-container .fancytree-node:hover > .glyphicon,
.page-subjects .view-section .fancytree-node.fancytree-active > .glyphicon,
.page-subjects .view-section .fancytree-node.fancytree-selected > .glyphicon,
.page-subjects .carousel-feature-slides li.active div a:before{ color:#dc3c47 !important;}
.page-subjects .carousel-feature-slides li div a:hover,
.page-subjects .carousel-feature-slides li div a:active,
.page-subjects .carousel-feature-slides li.active div a,
.page-subjects #tab-main .each-photo a.thumbnail:hover,
.page-subjects #tab-main .each-text a.thumbnail:hover,
.page-subjects .content-resources .nav-pills li.active{ border-color: #dc3c47 !important;}
/* .page-subjects .content-resources .nav-pills li.active{border-left:10px solid #dc3c47;} */

.page-subjects .input-section a.toggle-link,
.page-subjects .input-section a.toggle-link:hover,
.page-subjects .input-section .toggle-link .icon::before,
.page-subjects .input-section .feature-group .toggle-link.show-features .icon::before, 
.page-subjects .input-section .toggle-link:hover .icon::before,
.page-subjects .bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a .check-mark,
.page-subjects .bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a:active .check-mark,
.page-subjects .view-section .nav-tabs>li.active>a, 
.page-subjects .view-section .nav-tabs>li.active>a:hover, 
.page-subjects .view-section .nav-tabs>li.active>a:active{ color: #dc3c47 !important;}
.page-subjects .content-resources .nav-pills li.active{ border-color: #dc3c47 !important;}
.page-subjects .view-section .nav-tabs>li.active>a, 
.page-subjects .view-section .nav-tabs>li.active>a:hover, 
.page-subjects .view-section .nav-tabs>li.active>a:active{ border-top-color: #dc3c47 !important;}
/* END of Subjects colors */

/**
* Custom Colors - Audio-Video 
*/
.audio-video.bhutan .titlearea,
.audio-video.bhutan .carousel-control,
.audio-video.bhutan .breadcrumb .icon,
.audio-video.bhutan .nav-justified>li.active a,
.audio-video.bhutan .nav-justified>li.active a:focus,
.audio-video.bhutan .nav-justified>li.active a:hover{ background-color:#32ccca !important;}
.audio-video.bhutan .nav-justified>li.active::before{ color:#32ccca !important;}
/* darker shades below are used to better define details */
.audio-video.bhutan .bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a .check-mark,
.audio-video.bhutan .bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a:active .check-mark,
.audio-video.bhutan .feature-group .toggle-link.show-features .icon::before,
.audio-video.bhutan .view-section .nav-tabs>li.active>a, 
.audio-video.bhutan .view-section .nav-tabs>li.active>a:hover, 
.audio-video.bhutan .view-section .nav-tabs>li.active>a:active,
.audio-video.bhutan .view-section .fancytree-container .glyphicon,
.audio-video.bhutan .view-section .fancytree-container .fancytree-node:hover > .glyphicon,
.audio-video.bhutan .view-section .fancytree-container .fancytree-node:active > .glyphicon,
.audio-video.bhutan .view-section .fancytree-node.fancytree-active > .glyphicon,
.audio-video.bhutan .view-section .fancytree-node.fancytree-selected > .glyphicon{ color: #2fbebc !important;  /* color: rgba(32, 132, 131, 0.86);*/ }
.audio-video.bhutan .content-resources .nav-pills li.active{ border-color: #2fbebc !important;}
.audio-video.bhutan .view-section .nav-tabs>li.active>a, 
.audio-video.bhutan .view-section .nav-tabs>li.active>a:hover, 
.audio-video.bhutan .view-section .nav-tabs>li.active>a:active{ border-top-color: #2fbebc !important;}
/* END Audio-Video colors */

/**
* Custom Colors - Texts 
*/
.texts.bhutan .titlearea,
.texts.bhutan .breadwrap ol li .icon,
.texts.bhutan .nav-justified>li.active a,
.texts.bhutan .nav-justified>li.active a:focus,
.texts.bhutan .nav-justified>li.active a:hover{ background:#764B8D !important; }
.texts.bhutan .bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a .check-mark,
.texts.bhutan .bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a:active .check-mark,
.texts.bhutan .feature-group .toggle-link.show-features .icon::before,
.texts.bhutan .nav-justified>li.active::before,
.texts.bhutan .view-section .nav-tabs>li.active>a, 
.texts.bhutan .view-section .nav-tabs>li.active>a:hover, 
.texts.bhutan .view-section .nav-tabs>li.active>a:active,
.texts.bhutan .view-section .fancytree-container .glyphicon,
.texts.bhutan .view-section .fancytree-container .fancytree-node:hover > .glyphicon,
.texts.bhutan .view-section .fancytree-container .fancytree-node:active > .glyphicon,
.texts.bhutan .view-section .fancytree-node.fancytree-active > .glyphicon,
.texts.bhutan .view-section .fancytree-node.fancytree-selected > .glyphicon{ color:#764B8D !important; }
.texts.bhutan .view-section .nav-tabs>li.active>a, 
.texts.bhutan .view-section .nav-tabs>li.active>a:hover, 
.texts.bhutan .view-section .nav-tabs>li.active>a:active{ border-top-color: #764B8D !important;}
.texts.bhutan .content-resources .nav-pills li.active{ border-color: #764B8D !important; }
/* END Texts colors */

/**
* Custom Colors - Images 
*/
.images.bhutan .titlearea,
.images.bhutan .carousel-control,
.images.bhutan .breadcrumb .icon,
.images.bhutan .nav-justified>li.active a,
.images.bhutan .nav-justified>li.active a:focus,
.images.bhutan .nav-justified>li.active a:hover{ background-color:#c0ba27 !important;}
.images.bhutan .nav-justified>li.active::before,
.images.bhutan .bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a .check-mark,
.images.bhutan .bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a:active .check-mark,
.images.bhutan .feature-group .toggle-link.show-features .icon::before,
.images.bhutan .view-section .nav-tabs>li.active>a, 
.images.bhutan .view-section .nav-tabs>li.active>a:hover, 
.images.bhutan .view-section .nav-tabs>li.active>a:active,
.images.bhutan .view-section .fancytree-container .glyphicon,
.images.bhutan .view-section .fancytree-container .fancytree-node:hover > .glyphicon,
.images.bhutan .view-section .fancytree-container .fancytree-node:active > .glyphicon,
.images.bhutan .view-section .fancytree-node.fancytree-active > .glyphicon,
.images.bhutan .view-section .fancytree-node.fancytree-selected > .glyphicon{ color:#c0ba27 !important; }
.images.bhutan .content-resources .nav-pills li.active{ border-color: #c0ba27 !important;}
.images.bhutan .view-section .nav-tabs>li.active>a, 
.images.bhutan .view-section .nav-tabs>li.active>a:hover, 
.images.bhutan .view-section .nav-tabs>li.active>a:active{ border-top-color:#c0ba27 !important;}
/* END Images colors */
