/* new bhutan */
.navbar-header a span{ position:relative;left:-1.2rem;color:#404040;font-size: 0.88em;}
.navbar-header a .site-title{ position:relative;top:0.5rem;left: -1.8rem; display:none;}
.site-logo{ width:500px;height:50px; position:relative;top:0.8rem;}
.front .footer{ height:16rem; /* balance for homepage */}







