/** Hide search box in content area intro on home page **/
.intro-search { display:none;}
.intro-summary { width:100% !important;}

/*--- Temporary styles to hide advance search options - mf8yk oct 27,2015 ---*/
.input-section .search-group{ height:44px;}
.input-section .input-group input.form-control{ margin-top:7px;}
.input-section .toggle-link.advanced-link{ display:none !important;}
.advanced-view .form-group:first-child{ border-top:none;}
.input-section .input-group .input-group-btn{ top:8px !important;}
.advanced-view{ display:block !important;}
.input-section .alert{ position:relative; top:7px;}

/* hiding inner workings */
.search-group > .form-group label:nth-of-type(-n+2),
.form-group.advanced-input.feature-group.dropdown,
.form-group.advanced-input.select-type{ 
  display: none !important;
  border-top: none !important;
}